[Unit]
Description=docs.sysadm.ru

Requires=docker.service
After=docker.service

[Service]

Restart=always
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill docs.sysadm.ru
ExecStartPre=-/usr/bin/docker rm docs.sysadm.ru
ExecStartPre=-/usr/bin/docker pull marley/docs.sysadm.ru:latest
ExecStart=/bin/sh -c '/usr/bin/docker run --name docs.sysadm.ru   \
 -p 4006:80                        \
 marley/docs.sysadm.ru'
ExecStop=-/usr/bin/docker kill docs.sysadm.ru
ExecStop=-/usr/bin/docker rm docs.sysadm.ru

[Install]
WantedBy=multi-user.target
